{{- $scratch := newScratch -}}
<div class="ead-container-wrapper" >
  {{ $parentid1 := "0" -}}
  {{- $parentid2 := "0" -}}
  {{- $materialtype := "" -}}
  {{- $newcontainerarray := slice    -}}
  {{- $i := 0    -}}
  {{- range .current -}}
    {{- if not .parent -}}
      {{- $i = add $i 1 -}}
      {{/* if it doesn't have parent property, then it is the parent */}}
      {{/* If this is not the first box-level container   */}}
      {{- if (gt (len $newcontainerarray) 0) -}}
        {{/* Move first item in array to end of array (material type)  */}}
        {{- $newcontainerarray = $newcontainerarray  | append (index $newcontainerarray 0)  -}}
        {{- $newcontainerarray =  after 1 $newcontainerarray  -}}
        {{/* Store that previous container info in the scratch variable  */}}
        {{- $scratch.SetInMap "scratchofcontainers" (string $i) $newcontainerarray -}}
      
        {{/*
        {{ $allContainers := $scratch.Get "scratchofcontainers"   }} 
        {{ range $allContainers }} index {{ $i }} {{ range . -}}{{- . | safeHTML  }} {{ end   -}} <br ><hr> {{ end  }} 
        */}}
        
        {{/* Reset the array, but don't initialize, because of scoping issues  */}}
        {{- $newcontainerarray = slice    -}}
      {{- end -}}
       
      {{/* First add "label" to the array - we'll move it to the end later */}}  
      {{- $materialtype := .label  | printf "<span class=\"ead-container-mat-type\">(Material Type: %s)</span>"  | printf "%s"  -}}  
      {{- $newcontainerarray = $newcontainerarray  | append $materialtype -}}
      {{/* Add "type" and "value" to the array  */}}
      {{- $typeandvalue := .value  | printf "<span id =\"%s\" class=\"label formattednote-header\">%s: </span><span  class=\"ead-container-parent\">%s</span>" .id .type | printf "%s"  -}}  
      {{- $newcontainerarray = $newcontainerarray  | append $typeandvalue  -}}
      {{- $parentid1 = .id -}}
     
    {{- else if eq  $parentid1 .parent  -}}  {{/* It is a child? */}}
      {{- $parentid2 = .id -}}
      {{- $typeandvalueb := .value  | printf "<span  class=\"ead-container-child\">%s: %s</span>" .type | printf "%s"  -}}  
      {{- $newcontainerarray = $newcontainerarray  | append $typeandvalueb  -}}
    {{- else if eq  $parentid2 .parent -}} {{/*  It is a grandchild?  */}}
      {{- $typeandvaluec := .value  | printf "<span  class=\"ead-container-grandchild\">%s: %s</span>" .type | printf "%s"  -}}  
      {{- $newcontainerarray = $newcontainerarray  | append $typeandvaluec  -}}
      grandchild!: {{ delimit $newcontainerarray ", " }}
    {{- else}}
      {{- errorf "LMH - Container.html. There is some mismatched data here. "  }} 
    {{- end -}}
  {{- end -}}
  
  {{- $i = add $i 1 -}}
  {{/* Move first item in array to end of array (material type)  */}}
  {{- $newcontainerarray = $newcontainerarray  | append (index $newcontainerarray 0)  -}}
  {{- $newcontainerarray =  after 1 $newcontainerarray  -}}
  {{/* If there is only one container, or if there are other numbers tbd  */}}
  {{- $scratch.SetInMap "scratchofcontainers" (string $i) $newcontainerarray -}}
  {{- $allContainers := $scratch.Get "scratchofcontainers"   -}} 
  {{- range $allContainers }} 
    <div class="ead-container">{{- range . -}}{{- . | safeHTML }} {{ end   -}}   </div>
  {{- end  }} 
  
</div>

