{{/* Container */}}

{{- $unittitle := .unittitle -}}  
<div class="ead-container" >
  
 

    {{- $parentid1 := "0" -}}
    {{- $parentid2 := "0" -}}
    {{- range .current }}
     
      {{- if not .parent }}
       <!-- if it doesn't have parent property, then it is the parent --> <div class="ead-container-parent" id = "{{ .id }}">
        {{- .type | safeHTML  }} {{ .value | safeHTML  }} {{- with .label }} ({{ . | safeHTML  -}} ){{- end -}}
        {{- $parentid1 = .id -}}
      </div>
      {{- else -}}
       <!-- It is a child? -->
        {{- if eq  $parentid1 .parent }} 
          {{- $parentid2 = .id -}}
          <div id = "{{ .id }}" class="ead-container-child" >
          {{- .type | safeHTML  }} {{ .value | safeHTML  }} {{- with .label }} Label: ({{ . | safeHTML  -}} ) {{- end }}</div>
        {{- else -}}
          <div id = "{{ .id }}" class="ead-container-child oddball" >
          {{- .type | safeHTML  }} {{ .value | safeHTML  }} {{- with .label }} Label: ({{ . | safeHTML  -}} ) {{- end -}}
          {{- warnf "Failed to match %q"  .type | safeHTML  }}  </div>
        {{- end -}}
      {{- end -}}
    {{- end -}}
</div>