{{- $current := .current -}}
{{- $h := add .recursions 1 -}}
{{- $href := trim  .current.href "\n "  -}}
{{- $title := trim  .current.title "\n "  -}}
{{- $hrefurl := urls.Parse $href }}
{{- $role :=  .current.role }}
{{- $daodesc := slice }}
{{- $daodescstring := "" }}
{{ range  .current.daodesc.p  -}}
  {{ $daodesc  = $daodesc | append ( .value | safeHTML ) }}
{{- end -}}
{{ $daodescstring = delimit $daodesc "; "   }}

{{- $hrefescaped := $href | replaceRE "^https?://[^/]+/(.*)" "$1"   -}}
{{- $hrefescaped2 := replace $hrefescaped "/" "" -}}

<div class="dao card shadow-sm" >
  <div class="card-header" >DAO: Raw Data</div>
    <div class=" card-body" >
      <div>Title: {{ .current.title | safeHTML }}</div>
      <div>Role: {{ $role }}</div>
      <div>actuate: {{ .current.actuate }}</div>
      <div>show: {{ .current.show }}</div>
      <div>type: {{ .current.type }}</div>
      <div>href: {{ .current.href }}</div>

      {{ range  .current.daodesc.p  -}}
        <div class="dao-description">Description: {{ .value | safeHTML }}</div>
      {{- end -}}
      {{ with .current.audience  -}}
        <div>Audience: {{ . }}</div>
      {{- else -}}
        {{- if eq . "internal" -}}
          {{- errorf "dao.html line 15. Audience = Internal item here. "  }}
        {{ end -}}
      {{ end }}
    </div>
  </div><br>

  <div class="dao card shadow-sm" >
    <div class="card-header" >User-facing display - Work In Progress </div>
    <div class="card-body" >
    {{- with $hrefurl.Scheme -}}
      {{- $whichicon := "fa-bolt" -}}
      {{- $daolabel := "Digital materials" -}}
      {{- if  $role -}}
        {{- if eq $role "audio-service"}}
          {{- $whichicon = "fa-file-audio" }}
          {{- $daolabel = "Stream or download audio" }}
        {{- else if eq $role "image-service" }}
          {{- $whichicon = "fa-file-image" -}}
          {{- $daolabel = "View digitized images" }}
        {{- else if eq $role "video-service" }}
          {{- $whichicon = "fa-file-video" -}}
          {{- $daolabel = "Stream video" }}
        {{- end -}}
      {{- end -}}
      <h5 class="formattednote-header">{{- $daolabel -}}</h5>

      {{- if in $hrefurl.Host "aeon.library.nyu.edu" -}}
        <div style="float: right;"><a role="button" class="aeon-button btn btn-info" href="{{ $href }}">Request Reading Room Access</a></div>
        <div class="dao-href"><i class="fas {{ $whichicon }} fa-1x"></i> Electronic Record: <b>{{ $daodescstring }} </b></div>
      {{- else -}}
        <div class="dao-href"><i class="fas {{ $whichicon }} fa-1x"></i> <b><a class="dao" href="{{ $href }}">{{ $daodescstring }}</a></b></div>
      {{ end }}

  {{- else -}}
    <div class="dao-identifier">Href: {{ $href }}</div>
    {{ range  .current.daodesc.p  -}}
    <div class="dao-description">{{ $daodescstring }} </div>
    {{- end -}}
  {{- end -}}



</div>
</div>
