{{- $pathtojson := ".json" | printf "%s%s"  .Params.identifier | printf "%s%s" "/" | printf "%s%s" .Params.repoidentifier -}}  
{{- $json := resources.Get $pathtojson | transform.Unmarshal -}}
{{- $archdesc := index $json "archdesc" -}}
{{- $eadheader := index $json "eadheader" 0 -}}
{{- $filedesc := index $eadheader "filedesc" -}}
{{- $editionstmt := index $filedesc 0 "editionstmt" -}}

{{- partial "headerguides.html" (dict "context" . "archdesc" $archdesc ) }}
<body lang="{{ .Site.LanguageCode }}" class="body-dsc">
{{ partial "pagebannerguides.html" (dict "context" . "json" $json ) }}
<div class="wrapper">
 
  {{ partial "containerlist.html"  (dict "context" . "archdesc" $archdesc )  }}
  <main id="content" class="">
  {{ partial "menu-toggle-button.html" . }}
  

  
  {{- if $archdesc }}
  
  {{- $did := index $archdesc "did" }}
  {{ if (reflect.IsSlice ($did )) }}
  {{ $did = index $did 0 }}
  {{ end }}

  {{- $container := index $did "container" -}}
  {{- $unittitle := index $did "unittitle" 0}}
  {{- if (reflect.IsMap ($unittitle)) }}
      {{- $unittitle = $unittitle.value }}
  {{- end }}

  <h2 class="page-title">{{ $unittitle | safeHTML }}</h2>

  <div class="publisher">
  
    <h3 class="formattednote-header">Publication Statement</h3>
    {{ range $filedesc }}
      {{ range .publicationstmt }}
        {{- if .publisher }}
          <div class="publicationstmt-publisher">Publisher: {{  .publisher }}</div>
        {{- end }}
        {{- range .address }}
          <div class="publicationstmt-address">
          {{- range .addressline }}
            <div class="publicationstmt-addressline">{{- htmlUnescape .value | safeHTML -}}  
              {{- range .extptr -}}<a class="publicationstmt-extptr" href="{{ .href }}"> {{ .title }} </a>{{- end -}}</div>
          {{- end }}
        </div>{{- end }}
        {{- range .p }}
          <div  class="publicationstmt-p">{{- htmlUnescape .value | safeHTML -}}</div>
        {{- end }}
      {{- end }}
    {{- end }}
  </div>
  {{ range $editionstmt -}}{{- partial "fields/editionstmt.html" . -}}{{- end }}
  {{ range $eadheader.profiledesc }}
  <div class="profiledesc">
    <h3 class="formattednote-header">profiledesc</h3>
      {{- range .creation -}}
      <div class="creation">{{ .value  }} <span class="date">{{ .date  }}</span></div>
      {{- end }}
      {{ range .descrules -}}
      <div class="descrules">Using <i>{{ .}}</i></div>
      {{- end }}
      {{ range .langusage -}}
      <div class="langusage">Language: {{ .value }}</div>
      {{- end }} 
  </div>{{- end }}
  
  <div class="unit_id">
    <h3 class="formattednote-header">Unit ID</h3>
    {{- $unit_id := "Not Specified or info not located" -}}
    {{- range $did.unitid }}
      {{-  $unit_id = .value }}
    {{- end }}
    <div>{{ $unit_id }}</div>
  </div>
  
  {{ range $did.langmaterial }}
    {{ partial "fields/langmaterial.html" (dict "current" . "classname" "langmaterial" "recursions" 2) -}}
  {{- end }}
  <div class="unit_date">
    <h3 class="formattednote-header">Unit Date</h3>
    {{- $unit_date := "Not Specified or info not located" -}}
    {{- range $did.unitdate }}
    <div>{{ .value }}{{- if .type -}}, {{ .type -}}{{- end -}}</div>{{- end }}
  </div>
  
  {{ if (reflect.IsSlice (index $filedesc 0 "titlestmt" 0 "author" )) }}
  <div class="author">
    <h3 class="formattednote-header">Collection processed by (in EAD as  titlestmt > author)</h3>
    {{- range $filedesc }}
      {{- range .titlestmt }}
        {{- range .author -}}
        <div>{{ . }}</div>
        {{- end }}
      {{- end }}
    {{- end }} 
  </div>{{- end -}} 
  {{ if (reflect.IsSlice (index $filedesc 0 "titlestmt" 0 "sponsor" )) }}
  <div class="sponsor">
    <h3 class="formattednote-header">Sponsor (in EAD as titlestmt > author)</h3>
    {{- range $filedesc }}
      {{- range .titlestmt }}
        {{- range .sponsor -}}
        <div>{{ . }}</div>
        {{- end }}
      {{- end }}
    {{- end }} 
  </div>{{- end -}} 
  
  {{- $or := index $did "origination"  }}
  <div class="origination">
  {{ range $or }}
    <h3 class="formattednote-header">{{ .label }}</h3>
    {{- range .corpname -}}<span class="corpname">{{ .value }} {{- if .role -}} <span class="corpname-role">Role: {{- .role -}}</span>{{ end -}}</span>{{- end -}}
    {{- range .persname -}}<span  class="persname">{{ .value }} {{- if .role -}} <span class="persname-role">Role: {{- .role -}}</span>{{ end -}}</span>{{- end }}
  {{ end }}</div>
  
  {{- $r := index $did "repository"  }}
  {{ range $r }}<div class="repository">
    <h3 class="formattednote-header">Repository</h3>
    {{- range .corpname -}}<span class="corpname">{{ .value }}</span>{{- if .role -}} <span class="corpname-role">Role: {{- .role -}}</span>{{ end -}}{{- end -}}
  </div>{{ end }}
  {{ if ($did.physdesc) }}
  {{ partial "fields/physdesc.html" (dict "current" $did.physdesc "classname" "physdesc" "recursions" 2) -}}
  {{- end }}

  {{ if ($did.physloc) -}}{{- range $did.physloc -}}
  <div class="physloc" id="{{ .id }}"><h3 class="label formattednote-header">physloc</h3> 
    {{- if .value -}}<span>{{- .value }}</span>{{- end -}}
   </div>   
 {{- end -}}{{- end -}}
 
  {{ with $container }}
    <h3 class="formattednote-header">Container</h3>
    {{- partial "fields/container.html" (dict "current" . ) -}} 
  {{- end -}}

  {{ range $did.abstract }}
    <div class="abstract "><h3 class="label formattednote-header">Abstract</h3>
    <p>{{- .value  | safeHTML  }}</p></div>
  {{ end -}}
    
  {{ range $archdesc.acqinfo }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "acqinfo" "recursions" 2 ) -}}
  {{- end -}}
  
  {{ range $archdesc.bibliography }}
    {{ partial "fields/bibliography.html" (dict "current" . "classname" "bibliography" "recursions" 2) -}}
  {{- end -}} 
    
  {{ range $archdesc.bioghist }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "bioghist" "recursions" 2 ) -}}
  {{- end -}}

  {{ range $archdesc.controlaccess }}
  {{ partial "fields/controlaccess.html" (dict "current" . "classname" "controlaccess" "recursions" 2 ) -}}   
  {{- end -}}
  
  {{ range $archdesc.scopecontent }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "scopecontent" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.accessrestrict }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "accessrestrict" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.userestrict }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "userestrict" "recursions" 2) -}}
  {{- end -}}

  {{ range $archdesc.prefercite }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "prefercite" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.processinfo }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "processinfo" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.arrangement }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "arrangement" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.custodhist }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "custodhist" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.phystech }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "phystech" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.appraisal }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "appraisal" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.separatedmaterial }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "separatedmaterial" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.relatedmaterial }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "relatedmaterial" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.accruals }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "accruals" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.altformatavailable }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "altformatavailable" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.odd }}
    {{- partial "fields/formattednote.html" (dict "current" . "classname" "odd" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $eadheader.revisiondesc }}
  <div class="formattednote revisiondesc" >
      <h3>revisiondesc</h3>
      {{- range .change }}
      <div class="revisiondesc-change">{{range .date }}<span>{{ . }}:</span> {{- end }} {{range .item -}}{{ .value }} {{- end -}}</div>
      {{- end -}}
  </div>
  {{- end }}
  
  {{- else -}}
    
    <p>No data found at node "archdesc"</p>
    
  {{- end -}}

  </main></div>

  {{- partial "footer.html" . -}}