{{- $json := resources.Get "fales/mss_421.json" | transform.Unmarshal  -}}
{{- $archdesc := index $json "archdesc" -}}
{{- $dsc := index $archdesc "dsc" -}}

{{- partial "headerguides.html" (dict "context" . "archdesc" $archdesc ) }}

<body lang="{{ .Site.LanguageCode }}" class="body-dsc">
  {{ partial "pagebannerguides.html" (dict "context" . "json" $json ) }}
<div class="wrapper">
 
  {{ partial "containerlist.html"  (dict "context" . "archdesc" $archdesc )  }}
  <main id="content">
 
    {{ partial "menu-toggle-button.html" . }}
      
    {{- if $dsc -}}
      <h1 class="page-title">{{ partial "unittitle.html"  (dict "archdesc" $archdesc )  }}</h1>  
      <h2>Contents</h2>
      {{/* Loop over the structure */}}
       {{ $components := index $dsc 0 "c" }}
{{/*        

      {{/* This is an array of one */}}
      <div class="digger">
      {{- range  $components }}
        {{ partial "diggerfish.html" (dict "current" . "recursions" 1 ) }}
      {{ end }}
      </div>
    {{ end }}
  </main>
</div>

  {{- partial "footer.html" . -}}