{{ partial "headerguides.html" . }}

<body lang="{{ .Site.LanguageCode }}" class="body-dsc">
{{ partial "pagebannerguides.html" . }}
<div class="wrapper">
 
  {{ partial "containerlist.html" . }}
  <main id="content" class="">
  {{ partial "menu-toggle-button.html" . }}
  
  {{ $archdesc := index .Site.Data .Params.repoidentifier .Params.identifier "archdesc" }}
  {{ $eadheader := index .Site.Data .Params.repoidentifier .Params.identifier "eadheader" 0 }}
  {{ $filedesc := index $eadheader "filedesc" }}
  
  {{- if $archdesc }}
  
  {{- $did := index $archdesc "did" }}
  {{ if (reflect.IsSlice ($did )) }}
  {{ $did = index $did 0 }}
  {{ end }}

  {{- $unittitle := index $did "unittitle" 0}}
  {{- if (reflect.IsMap ($unittitle)) }}
      {{- $unittitle = $unittitle.value }}
  {{- end }}

  <h2 class="page-title">{{ $unittitle | safeHTML }}</h2>

  <div class="publisher">
  
    <h3 class="formattednote-header">Publisher</h3>
    {{ $publisher := "Not Specified or info not located" }}
    {{ range $filedesc }}
      {{ range .publicationstmt }}
        {{ range .publisher }}
          {{  $publisher = . }}
        {{ end }}
      {{ end }}
    {{ end }}
    <div>{{ $publisher }}</div>
  </div>
  
  {{ if (reflect.IsSlice (index $eadheader "profiledesc" )) }}
  <div class="profiledesc">
    <h3 class="formattednote-header">profiledesc</h3>
    {{- range (index $eadheader "profiledesc" ) }}
      {{- range .creation -}}
      <div class="creation">{{ .value  }} <span class="date">{{ .date  }}</span></div>
      {{- end }}
      {{ range .descrules -}}
      <div class="descrules">Using <i>{{ .}}</i></div>
      {{- end }}
      {{ range .langusage -}}
      <div class="langusage">Language: {{ .value }}</div>
      {{- end }}
   
    {{- end }} 
  </div>{{- end }}
  
  <div class="unit_id">
    <h3 class="formattednote-header">Unit ID</h3>
    {{- $unit_id := "Not Specified or info not located" -}}
    {{- range $did.unitid }}
      {{-  $unit_id = .value }}
    {{- end }}
    <div>{{ $unit_id }}</div>
  </div>
  
  <div class="unit_date">
    <h3 class="formattednote-header">Unit Date</h3>
    {{- $unit_date := "Not Specified or info not located" -}}
    {{- range $did.unitdate }}
      {{-  $unit_date = .value }}
    {{- end }}
    <div>{{ $unit_date }}</div>
  </div>
  
  {{ if (reflect.IsSlice (index $filedesc 0 "titlestmt" 0 "author" )) }}
  <div class="author">
    <h3 class="formattednote-header">Collection processed by</h3>
    {{- range $filedesc }}
      {{- range .titlestmt }}
        {{- range .author -}}
        <div>{{ . }}</div>
        {{- end }}
      {{- end }}
    {{- end }} 
  </div>{{- end -}} 
  {{ if (reflect.IsSlice (index $filedesc 0 "titlestmt" 0 "sponsor" )) }}
  <div class="sponsor">
    <h3 class="formattednote-header">Sponsor</h3>
    {{- range $filedesc }}
      {{- range .titlestmt }}
        {{- range .sponsor -}}
        <div>{{ . }}</div>
        {{- end }}
      {{- end }}
    {{- end }} 
  </div>{{- end -}} 
  
  {{- $r := index $did "repository"  }}
  {{ range $r }}<div class="repository">
    <h3 class="formattednote-header">repository</h3>
    {{ range .corpname }}{{ . }}{{ end }}
  </div>{{ end }}
 
  <div class="physdesc"><h3 class="label formattednote-header">Extent</h3>
  {{- range $did.physdesc -}}{{- range .extent -}}<span>{{- .value | safeHTML }}</span> {{ end -}}<br>{{- end -}}
  </div>
 
  {{ range $did.abstract }}
    <div class="abstract "><h3 class="label formattednote-header">Abstract</h3>
    <p>{{- .value  | safeHTML  }}</p></div>
  {{ end -}}
    
  {{ range $archdesc.acqinfo }}
    {{- partial "formattednote.html" (dict "current" . "classname" "acqinfo" "recursions" 2 ) -}}
  {{- end -}}
  
  {{- range $archdesc.bibliography -}}
  <div class="bibliography" id="{{- .id }}"><h3 class="label formattednote-header">{{- index .head 0 "value"}}</h3>
    {{- range .bibref -}}{{ .value | safeHTML  -}}<br>{{- end -}}
    </div>
    {{- end -}}
    
  {{ range $archdesc.bioghist }}
    {{- partial "formattednote.html" (dict "current" . "classname" "bioghist" "recursions" 2 ) -}}
  {{- end -}}

  {{ range $archdesc.controlaccess }}
  {{ partial "controlaccess.html" (dict "current" . "classname" "controlaccess" "recursions" 2 ) -}}   
  {{- end -}}
  
  {{ range $archdesc.scopecontent }}
    {{- partial "formattednote.html" (dict "current" . "classname" "scopecontent" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.accessrestrict }}
    {{- partial "formattednote.html" (dict "current" . "classname" "accessrestrict" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.userestrict }}
    {{- partial "formattednote.html" (dict "current" . "classname" "userestrict" "recursions" 2) -}}
  {{- end -}}

  {{ range $archdesc.prefercite }}
    {{- partial "formattednote.html" (dict "current" . "classname" "prefercite" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.processinfo }}
    {{- partial "formattednote.html" (dict "current" . "classname" "processinfo" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.arrangement }}
    {{- partial "formattednote.html" (dict "current" . "classname" "arrangement" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.custodhist }}
    {{- partial "formattednote.html" (dict "current" . "classname" "custodhist" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.phystech }}
    {{- partial "formattednote.html" (dict "current" . "classname" "phystech" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.appraisal }}
    {{- partial "formattednote.html" (dict "current" . "classname" "appraisal" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.separatedmaterial }}
    {{- partial "formattednote.html" (dict "current" . "classname" "separatedmaterial" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.relatedmaterial }}
    {{- partial "formattednote.html" (dict "current" . "classname" "relatedmaterial" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.accruals }}
    {{- partial "formattednote.html" (dict "current" . "classname" "accruals" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.altformatavailable }}
    {{- partial "formattednote.html" (dict "current" . "classname" "altformatavailable" "recursions" 2) -}}
  {{- end -}}
  
  {{ range $archdesc.odd }}
    {{- partial "formattednote.html" (dict "current" . "classname" "odd" "recursions" 2) -}}
  {{- end -}}
  
  <!-- {{ range $archdesc.bibliography }}
    {{- partial "formattednote.html" (dict "current" . "classname" "bibliography" "recursions" 2) -}}
  {{- end -}} -->
  
  {{- else -}}
    
    <p>No data found at node "archdesc"</p>
    
  {{- end -}}

  </main></div>

  {{- partial "footer.html" . -}}