{{ partial "header.html" . }}

<body lang="{{ .Site.LanguageCode }}" class="body-dsc" itemscope itemtype="http://schema.org/Article">
{{ partial "pagebanner.html" . }}
<div class="wrapper">
 
  {{ partial "containerlist.html" . }}
  <main id="content" class="">
  
    {{ partial "menu-toggle-button.html" . }}

    {{ $data := index .Site.Data .Params.identifier }}

    {{ if $data }}

    {{ $id := $data._id}}
    {{ $unittitle := $data.did.unittitle }}

    {{ $level := $data._level}}
    <h1 class="page-title">{{ $unittitle }}</h1>
    <div>ID: {{ $id }}</div>
<hr>

    {{/* Loop over the structure */}}
    {{- range $key, $value := $data.c }}

    <article class="items section{{ $key }}">
      {{- $newmap := index $value }}
      {{- $thistitle := .did.unittitle }}
      {{- $thiscontainer := .did.container }}
      {{- $thisdate := .did.unitdate }}
      <div class="itemname">{{ $thistitle }}</div>
      {{ $thishref := .dao._nshref }}
      <div class="digitized">Href: <a href="{{ $thishref }}">{{ $thishref }}</a></div>
      <div class="item-container"> <b>{{- range $a, $b := $thiscontainer }}
      {{- $b._type }} {{ $b.__text -}} {{- if (ne $a 1) -}}, {{ end -}}
      {{- end }}</b></div>
      <div class="date">Date: {{ $thisdate }}</div>

      {{/*  

      
      {{ range $x, $y := $newmap }}

      {{ if  (reflect.IsMap $y)  }}
      <div class="level1 yesmap">
        <b>Key is {{  $x}} :</b>
        <ul class="goodstuff">
          {{ $newmap2 := index $y }}
          {{ range $a, $b := $newmap2 }}
          {{ if not (or (reflect.IsMap $b) (reflect.IsSlice $b))  }}
          <li class="level2 notmap"><b>{{ $a }} :</b> {{ $b }}</li>
          {{ else }}
          <li class="level2 yesmap"><b>{{  $a }} :</b>
            <ul>
              {{ $newmap3 := index $b }}
              {{ range $c, $d := $newmap3 }}
              {{ if not (or (reflect.IsMap $d) (reflect.IsSlice $d))  }}
              <li class="level3 notmap"><b>{{  $c}} :</b> {{ $d }}</li>
              {{ else }}
              <li class="level3 yesmap"><b>{{  $c}} :</b>
                <ul>
                  {{ $newmap4 := index $d }}
                  {{ range $e, $f := $newmap4 }}
                  {{ if not (or (reflect.IsMap $f) (reflect.IsSlice $f))  }}
                  <li class="level4 notmap"><b>{{ $e }}</b> {{ $f }}</li>
                  {{ else }}
                  <li class="level4 yesmap"><b>{{ $e }} :</b>
                    <ul>
                      {{ $newmap5 := index $f }}
                      {{ range $g, $h := $newmap5 }}
                      {{ if not (or (reflect.IsMap $h) (reflect.IsSlice $h))  }}
                      <li class="level5 notmap"><b>{{  $g}} :</b> {{ $h }}</li>
                      {{ else }}
                      <li class="level5 yesmap"><b>{{  $g}} :</b>
                        <ul>
                          {{ $newmap6 := index $h }}
                          {{ range $i, $j := $newmap6 }}
                          {{ if not (or (reflect.IsMap $j) (reflect.IsSlice $j))  }}
                          <li class="level6 notmap"><b>{{  $i}} :</b> {{ $j }}</li>
                          {{ else }}
                          <li class="level6 yesmap"><b>{{  $i}} :</b>
                            <ul>
                              {{ $newmap7 := index $j }}
                              {{ range $k, $l := $newmap7 }}
                              {{ if not (or (reflect.IsMap $l) (reflect.IsSlice $l))  }}
                              <li class="level7 notmap"><b>{{  $k}} :</b> {{ $l }}</li>
                              {{ else }}
                              <li class="level7 yesmap"><b>{{  $k}} :</b>
                                <ul>
                                  {{ $newmap8 := index $l }}
                                  {{ range $m, $n := $newmap8 }}
                                  {{ if not (or (reflect.IsMap $n) (reflect.IsSlice $n))  }}
                                  <li class="level8 notmap"><b>{{  $m}} :</b> {{ $n }}</li>
                                  {{ else }}
                                  <li class="level8 yesmap"><b>{{  $m}} :</b> {{ $n }}</li>
                                  {{ end }}
                                  {{ end }}
                                </ul>
                              </li>
                              {{ end }}
                              {{ end }}
                            </ul>
                          </li>
                          {{ end }}
                          {{ end }}
                        </ul>
                      </li>
                      {{ end }}
                      {{ end }}
                    </ul>
                  </li>
                  {{ end }}
                  {{ end }}
                </ul>
              </li>
              {{ end }}
              {{ end }}
            </ul>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ end }}
  */}}
    </article>

    {{ end }}
    {{ end }}

  </main></div>

  {{- partial "footer.html" . -}}