{{- $thisurl := .RelPermalink -}}
<nav id="sidebar">
  <div class="sidebar-header">
      <div class="sidebar-title">Table of Contents</div>
  </div>
  <ul class="list-unstyled components">
    {{ range .OutputFormats -}}
    {{- $pageurl := .RelPermalink -}}
    <li  class="{{- if eq $pageurl $thisurl -}}active{{- end }}"><a class="{{- if eq $pageurl $thisurl -}}active{{- end }}" href="{{ .RelPermalink }}">{{ .Name }}</a></li>
    {{ end -}}
    </ul>
    {{ $archdesc := index .Site.Data .Params.repoidentifier .Params.identifier "archdesc" }}
  
    {{ if (reflect.IsSlice ($archdesc )) }}
        {{ $archdesc = index $archdesc 0 }}
    {{ end }}
        
    {{ $components :=  index  $archdesc "dsc" 0 "c" }}
    {{ $burl := .Site.BaseURL}}
    {{ $pid :=  .Params.identifier }}
    {{ $rid :=  .Params.repoidentifier }}
    <ul class="list-unstyled components">
    {{- range $components}}
      {{- $cid := index . "id" }}
      <li><a href="{{ $burl }}guides/{{ $rid }}/{{ $pid }}/contents.html#{{ $cid }}">{{ index . "did" 0 "unittitle" 0  "value"}}</a></li>
    {{ end }}
  </ul>
</nav>