{{- $thisurl := .context.RelPermalink -}}
{{- $archdesc := .archdesc -}}  
<nav id="sidebar">
  <div class="sidebar-header">
      <div class="sidebar-title">Table of Contents</div>
  </div>
  <ul class="list-unstyled components outputformats">
    {{ range .context.OutputFormats -}}
    {{- $pageurl := .RelPermalink -}}
    <li  class="{{- if eq $pageurl $thisurl -}}active{{- end }}"><a class="{{- if eq $pageurl $thisurl -}}active{{- end }}" href="{{ .RelPermalink }}">{{ .Name }}</a></li>
    {{ end -}}
    </ul>
        
    {{ $components :=  index  $archdesc "dsc" 0 "c" }}
    {{ $burl := .context.Site.BaseURL}}
    {{ $pid :=  .context.Params.identifier }}
    {{ $rid :=  .context.Params.repoidentifier }}
  
    <ul class="list-unstyled components">
    {{- range $components}}
      {{- $cid := index . "id" }}
      {{- $ut := index . "did" 0 "unittitle" 0  "value" }}
      <li><a href="{{ $burl }}guides/{{ $rid }}/{{ $pid }}/contents.html#{{ $cid }}">{{ $ut | safeHTML  }}</a></li>
    {{ end }}
  </ul>
</nav>