{{/* Recursive parsing of the JSON files */}}

{{- $arguments := .current -}}
{{- $recursions := .recursions -}}

{{- if (reflect.IsMap $arguments) -}}
    {{/* $arguments */}}
    {{- $level := "notspecifiedlevel"  -}}
    {{- if  (index $arguments "level")  -}}
      {{- $level = $arguments.level  -}}
    {{- end}}
    <div class="level-{{  $level  }} recursions{{ $recursions }}">
      {{/*  {{ if  (eq $level "file")  }} FILES {{ end }}  */}}
      {{- $aid := index $arguments "id" -}}

      {{- $abstract := index $arguments "did" 0 "abstract"  -}}
      {{- $langmaterial := index $arguments "did" 0 "langmaterial"  -}}
      {{- $origination := index $arguments "did" 0 "origination"  -}}
      {{- $physdesc := index $arguments "did" 0 "physdesc"  -}}
      {{- $physloc := index $arguments "did" 0 "physloc"  -}}
      {{- $repository := index $arguments "did" 0 "repository"  -}}
      {{- $dates := index $arguments "did" 0 "unitdate"  -}}
      {{- $unitid := index $arguments "did" 0 "unitid"  -}}
      {{- $unittitle := index $arguments "did" 0 "unittitle" 0 "value" -}}
      {{- $container := index $arguments "did" 0 "container"  -}}
      {{- $dao := index $arguments "did" 0 "dao" -}}
      {{- $recursions := add $recursions 1 -}}

      {{/*  Structuring the DOM; header levels correspond with recursion level  */}}
      {{- if (lt $recursions 7 ) -}}
        <h{{- $recursions }} class="unittitle" id ="{{ $aid }}">{{- htmlUnescape $unittitle | safeHTML -}}</h{{- $recursions -}}>
      {{- else }}
          <div class="unittitle" id ="{{ $aid }}" >{{- htmlUnescape $unittitle | safeHTML -}}</div>
      {{- end }}
      {{ if ($dates) -}}<div class="dates"><div class="label  formattednote-header">Dates: </div>
        {{- range $dates -}}{{-  .value -}}{{- end -}}</div>
      {{- end -}}
      {{ with $container -}}
        {{- partial "fields/container.html" (dict "current" .) -}}
      {{- end -}}
      {{- range $langmaterial }}
        {{ partial "fields/langmaterial.html" (dict "current" . "classname" "langmaterial" "recursions" $recursions) -}}
      {{- end -}} 
      {{- if ($physdesc) }}
        {{ partial "fields/physdesc.html" (dict "current" $physdesc "classname" "physdesc" "recursions" $recursions) -}}
      {{- end -}}
      {{ range $physloc -}}
      <div class="physloc" id="{{ .id }}"><h3 class="label formattednote-header">physloc</h3>
         {{- if .value -}}<span>{{- .value }}</span>{{- end -}}
      </div>
      {{- end -}}
      {{- if ($origination) -}}
      <div class="origination">
      {{- range $origination }}
        <h3 class="formattednote-header">{{ .label }}</h3>
        {{- range .corpname -}}<span class="corpname">{{ .value }} {{- if .role -}} <span class="corpname-role">Role: {{- .role -}}</span>{{ end -}}</span>{{- end -}}
        {{- range .persname -}}<span  class="persname">{{ .value }} {{- if .role -}} <span class="persname-role">Role: {{- .role -}}</span>{{ end -}}</span>{{- end }}
      {{- end }}
    </div>{{- end -}}
    {{ range $arguments.scopecontent }}
      {{ partial "fields/formattednote.html" (dict "current" . "classname" "scopecontent" "recursions" $recursions) -}}
    {{ end }}
    {{ range $arguments.arrangement }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "arrangement" "recursions" $recursions) -}}
    {{ end }}
    {{ range $arguments.bioghist }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "bioghist" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.accessrestrict }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "accessrestrict" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.accruals }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "accruals" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.appraisal }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "appraisal" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.controlaccess }}
      {{ partial "fields/controlaccess.html" (dict "current" . "classname" "controlaccess" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.relatedmaterial }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "relatedmaterial" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.custodhist }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "custodhist" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.userestrict }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "userestrict" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.prefercite }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "prefercite" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.processinfo }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "processinfo" "recursions" $recursions) -}}
    {{- end -}}
    {{ range $arguments.phystech }}
      {{- partial "fields/formattednote.html" (dict "current" . "classname" "phystech" "recursions" $recursions) -}}
    {{- end -}}
    {{- range $dao }}
      {{ partial "fields/dao.html" (dict "current" . "recursions" $recursions) -}}
    {{- end -}}
    {{- /*   */ -}}
    {{- if not (ge $recursions 9 )  }}
      {{ if  ($arguments.c)  }}
      {{/*  {{ $recursions =add .recursions 1 }}  */}}
        {{ range $arguments.c }}
               {{ partial "diggerfish.html" (dict "current" . "recursions" $recursions )  }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{- end }}
