{{ partial "header.html" . }}

<body lang="{{ .Site.LanguageCode }}" class="body-dsc">
{{ partial "pagebanner.html" . }}
<div class="wrapper">

  <main id="content" class="">
 
    {{ partial "menu-toggle-button.html" . }}
  
    {{ range where .Site.RegularPages.ByTitle "Section" "guides" }}
    {{- $pageurl := .RelPermalink -}}
    <li >{{ .Params.guidetitle}}<br>
      <a  href="{{ $pageurl }}">{{ $pageurl }} </a><br>
      <div>{{ .Content }} </div>
    </li>
    {{ end }}

  </main></div>

  {{- partial "footer.html" . -}}